<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <!-- Necessary to register the Application Insights target -->
    <add assembly="NLog.Targets.ApplicationInsights" />
  </extensions>

  <!-- Define various log targets -->
  <targets>
    <!-- Write logs to Azure Application Insights -->
    <target xsi:type="ApplicationInsightsTarget" name="ai"
            instrumentKey="Your_Application_Insights_InstrumentationKey">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="application" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=5}" />
      </layout>
    </target>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="ai" />
  </rules>
</nlog>